
.img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 110px;
}
  
.img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
#data {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #data td, #clients th {
    border: 1px solid #ddd;
    padding: 8px;
  }

#data tr:nth-child(even){background-color: #f2f2f2;}

#data tr:hover {background-color: #ddd;}

#data th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: green;
  color: white;
}
#data a{
    text-decoration: none;
    color: black;
}
.button-add {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .button-add :hover {
    background-color: #4CAF50;
    color: white;
  }
  .alert-success{
    background-color: rgb(123, 157, 123);
    color: #fff;
  }
  .alert-error{
    background-color: red;
    color: #fff;
  }
 