{% extends 'users/base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="row">
    <div class="col-md-11"></div>
    <div class="col-md-1">
      <a href="{% url 'users:logout' %}">{% include './icons/person-x.svg' %}</a> 
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
        <div class="card">
            <p class="text secondary"><b>USERNAME : </b>{{user.username}}</p>
            <p class="text secondary"><b>EMAIL : </b>{{user.email}}</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <form action="" method="post">
                {% csrf_token%}
                <fieldset class="form-group">
                    <center><legend class="border-bottom mb-4">Profile Info</legend></center>
                    {{ u_form|crispy }}
                    <div class="form-group">
                        <center><button class="btn btn-outline-info" type="submit">Update</button></center>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
  </div>

{% endblock %}