{% extends 'users/base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<center>
    <div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<h3 id="form-title">REGISTER ACCOUNT</h3>
				</div>
				<div class="d-flex justify-content-center form_container">

					<form method = 'POST' enctype="multipart/form-data">
                        {% csrf_token %}
                        <table class = 'w-50 table table-light' style="border-radius:10px">
                            <tr>
                                <th>{{form.username.label}}</th>
                                <td>{{ form.username }}</td>
                            </tr>
                            <tr>
                                <th>{{form.email.label}}</th>
                                <td>{{ form.email }}</td>
                            </tr>
                            <tr>
                                <th>{{form.password1.label}}</th>
                                <td>{{ form.password1 }}</td>
                            </tr>
                            <tr>
                                <th>{{form.password2.label}}</th>
                                <td>{{ form.password2 }}</td>
                            </tr>
                        </table>
                        <button type="submit" value="Register Account" class="btn btn-lg button-add">Register</button>
                    </form>
				</div>

				<div class="mt-4">
					<div class="d-flex justify-content-center links">
						Already have an account? <a href="{% url 'users:login' %}" class="ml-2">Login</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</center>
{% endblock %}

<body>
	
</body>