{% extends 'support/base.html' %}
{% block content %}
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'support:supportcall' %}">SUPPORT CALLS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%url 'support:courtesycall' %}">COURTESY CALLS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'support:bimonthlycall' %}">DIRECTORS CALLS</a>
            </li>
          </div>
    </div>
</nav>
<center>
    <h1 class="display-7" >Add Call Log</h1>
    <form method = 'POST' enctype="multipart/form-data">
        {% csrf_token %}
        <table class = 'w-50 table table-light' style="border-radius:10px">
            {% for field in addcourtesycall_form %}
            <tr>
                <th>{{field.label}}</th>
                <td>{{ field }}</td>
            </tr>
            {% endfor %}
        </table>
        <button type="submit" class="btn btn-lg button-add">Add Call</button>
    </form>
</center>
{% endblock %}