{% extends 'support/base.html' %}
{% block content %}
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'support:supportcall' %}">SUPPORT CALLS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%url 'support:courtesycall' %}">COURTESY CALLS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'support:bimonthlycall' %}">DIRECTORS CALLS</a>
            </li>
          </div>
    </div>
</nav>
<div class="card">
    <div class="card-header">
        <center><h3>COURTESY CALLS LOG</h3></center>
        <div class="card-body">
            {% if messages %}
                    {% for message in messages %}   
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-{{ message.tags}}">{{message}}</div>
                        </div>
                    </div>
                    {% endfor %}                
            {% endif %}
            <div class="row">
                <div class="col-md-5"> </div>
                <div class="col-md-5"> </div>
                <div class="col-md-2"> 
                    <a href="{%url 'support:addcourtesycall' %}"><button type="submit" class="btn button-add">+ CALL</button></a>
                </div>
            </div>
            <div class="row"></div>
                <table id="data">
                    <tr>
                    <th>Facility</th>
                    <th>log Date</th>
                    <th>Call Feedback</th>
                    <th>Action</th>
                    </tr>

                    {% for n in details %}
                    <tr>
                    <td>{{n.facility|upper}}</td>
                    <td>{{n.logdate}}</td>
                    <td>{{n.feedback|linebreaks}}</td>         
                    <td><a href="{% url 'support:addcourtesycall_update' n.id %}">{% include './icons/pencil-fill.svg' %}</a>    <a href="{% url 'support:addcourtesycall_delete' n.id %}">{% include './icons/trash-fill.svg' %}</a> </td>
                    </tr>
                    {% endfor %}
                </table>   
                <center>
                    <!-- {{details}} -->
                    {% if details.has_previous %}
                        <a href="?page=1">&laquo </a>
                        <a href="?page={{details.previous_page_number}}"></a>
                    {% endif %}
                     {{details.number}}

                    {% if details.has_next %}
                        <a href="?page={{details.next_page_number}}">&raquo</a>
                        <a href="?page={{details.paginator.num_pages}}"></a>
                    {% endif %}
                </center>  
        </div>
    </div>
</div>
{% endblock %}